html { 
    background-color: gainsboro;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    max-width: 100vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.calculator {
    width: 350px;
    height: 500px;
    border: 2px solid black;
    background-color: skyblue;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.footer {
    width: 100vw;
    text-align: center;
    position: fixed;
    bottom: 0;
}

.screen {
    background-color: gainsboro;
    width: 315px;
    height: 15vh;
    margin: 10px;
    border: 2px solid black;
    border-radius: 8px;
    text-align: right;
    font-size: 20px;
}

.bigbuttons {
    width: 320px;
    height: 80px;
    display: flex;
    justify-content: center;
    gap: 10px; 
}

.smallbuttons {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    width: 320px;
    align-items: center;
    align-self: center;
    justify-content: center;
    padding: 6px;
    gap: 6px;
    margin-bottom: 3px;
}

button {
    width: 70px;
    height: 70px;
    border: 1px solid black;
    border-radius: 6px;
    background-color: rgb(216, 238, 245);
    font-size: 16px;
}

button:hover {
    background-color: var(--btn-hover);
}

.clear {
    background-color: rgb(174, 174, 243);
    width: 150px;
    height: 60px;
    color: black;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 20px;
}

.delete {
    background-color: rgb(236, 138, 138);
    width: 150px;
    height: 60px;
    color: black;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 20px;
}
